<div class="chat-main-container">
  <section class="chat-left-container">
    <button id="chat-section-toggle-btn" class="chat-section-toggle-button"></button>
    <div class="video-wrapper" id="video-section"></div>
    <div class="scrollable-text hidden" id="text-section">
      <div class="scroll-content"></div>
    </div>
  </section>
  <section class="chat-right-container">
    <div class="chat-messages-area"></div>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          id="chat-message-input"
          name="chatMessageInput"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
          disabled
        />
        <button class="message-send-btn">
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </section>
</div>

<script>
  window.APP_CONTEXT = {
    page: "<%= page %>",
    username: "<%= username %>"
  };
</script>
